@import "tailwindcss";

/* Обычный */
@font-face {
  font-family: "Mont";
  src: url("/public/fonts/Mont-SemiBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Жирный */
@font-face {
  font-family: "Mont";
  src: url("/public/fonts/Mont-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Курсив */
@font-face {
  font-family: "Mont";
  src: url("/public/fonts/Mont-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
